body, html {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}


/*-----------------topnav--------------------*/

.topnav {
    background-color: #5176a6;
    position: relative;
}

.topnav-right {
    float: right;
}
/*-----------------images--------------------*/




/*-----------------button--------------------*/
.btn {
    position: relative;
    margin: 6px;
    padding: 12, 0px;
    background-color: #d0d5d9;
    border-color: #fff;
    opacity: 0.5;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 1px 2px #4a4f4a;
}
.btn a {
    color: #fff;
    text-decoration: none;
}
.btn:hover {
    background-color: #1b2226;
    opacity: 0.5;
    transition: ease-in-out 0.25s;
}
.btn a:hover {
    color: #fff;
    transition: ease-in-out 0.25s;
}


/*--------------containerfluid---------------*/

.container-fluid {
    height: 100vh;
    background: url("images/testimage02resize.jpg") no-repeat bottom right fixed;
    padding: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: inherit;

}
.container-fluid-info {
    height: 100vh;
    background: url("images/testimageflucontinfo.jpg") no-repeat bottom right fixed;
    padding: 0;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: inherit;
}

/*--------------containerheader---------------*/
.container-header {
    background-color: #5176a6;
    padding: 8px;
    margin: 2px;
    position: relative;
    text-align: center;
    color: #fff;
    opacity: 0.85;

}

.col-lg-12{
    margin: 2px;
    padding: 2px;
}
/*--------------containertext---------------*/
.container-text {
    background-color: #733646;
    position: relative;
    text-align: center;
    color: #fff;
    opacity: 0.85;
}

/*--------------footer---------------*/

.footer {
    background-color: #5176a6;
}
/*--------------footerfafa---------------*/
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
.fa:hover {
    opacity: 0.7;
    color: #d0d5d9;
}

.fa-facebook {
    color: #ffffff;
}
.fa-twitter {
    color: #ffffff;
}
.fa-youtube {
    color: #ffffff;
}
.fa-instagram {
    color: #ffffff;
}
.fa-google {
    color: #ffffff;
}