/*--------
body, html {
    font-family: "Roboto", sans-serif;
    background-color: #5176a6;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
----*/
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 112.5%;
    margin-left: auto;
    margin-right: auto;
}  


/*-----------------topnav--------------------*/

.navbar {
    background-color: #5176a6;
    width: auto;
    height: auto;
    margin: 1px;
    padding: 10px;

}
/*-----------------nav menu--------------------*/
.nav-menu {
    background-color: #5176a6;
}
.nav-item {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
    margin-left: 10px;
    padding: 5px;
}
.nav-item:hover {
    color: #1b2226;
    text-decoration: none;
}


/*-----------------images--------------------*/
.logo {
    background: url("/assets/images/facemonkeylogolightIS.PNG");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px;
    border-color: #fff;
    min-height: 170px;
    width: 700px;
}



/*-----------------button--------------------*/
.btn {
    position: relative;
    text-align: center;
    margin: 6px;
    padding: 12 0px;
    background-color: #5176a6;
    border-color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.btn a {
    color: #fff;
    text-decoration: none;
}
.btn:hover {
    background-color: #6f9abf;
    border-color: #733646;
    transition: ease-in-out 0.25s;
}
.btn a:hover {
    color: #733646;
    transition: ease-in-out 0.25s;
}


/*--------------containerfluid---------------*/

.container-fluid {
    height: 100vh;
    background: url("images/testimage02resize.jpg") no-repeat bottom right fixed;
    padding: 15px;
    opacity: 0.75;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    position: inherit;
}
/*--------------Boxes-------------------------*/
.cards {
    text-align: center;
    padding: 0px;
    margin: 0px;
    height: 50vh;
}

/*--------------Boxes-------------------------*/
.card1 {
    display: inline-block;
    text-align: center;
    height: 50%;
    width: 30%;
    padding: 1em;
    border-radius: 10px;
    margin: 5px;
    background-color: #5176a6;
}
.card2 {
    display: inline-block;
    text-align: center;
    height: 50%;
    width: 30%;
    padding: 1em;
    border-radius: 10px;
    margin: 5px;
    background-color: #1b2226;
}
.card3 {
    display: inline-block;
    text-align: center;
    height: 50%;
    width: 30%;
    padding: 1em;
    border-radius: 10px;
    margin: 5px;
    background-color: #733646;
}
/*--------------containerheader---------------*/

.container-header {
    background-color: #5176a6;
    margin-top: 50px;
    padding: 8px;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px; 
    align-content: center;
    color: #fff;
    opacity: 0.85;

}

/*--------------containertext---------------*/
.container-text {
    background-color: #5176a6;
    margin-top: 50px;
    padding: 8px;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px;
    align-content: center;
    color: #fff;
    opacity: 0.95;
}

.container-fluid-info {
    height: 100vh;
    background: url("images/testimageflucontinfo.jpg") no-repeat bottom right fixed;
    padding: 0px;
    opacity: 0.85;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: inherit;
}
/*--------------featurescontainer---------------*/

.flex-container {
    background-color: #5176a6;
    display: flex;
    justify-content: center;
    margin: 1px;
    padding: 8px;
}
h5 {
    text-align: center;
}
p {
    text-align: center;
}
.row {
    flex-wrap: wrap;
}

.flex-container-info {
    background-color: #5176a6;
    display: flex;
    justify-content: center;
    margin: 1px;
    padding: 8px;
}

/*-----------------footer--------------*/
.footer {
    display: flex;
    background-color: #5176a6;
    margin: 1px;
    color: #fff;
    width: 100%;
}


.fa {
    display: inline-flex;
    padding: 5px;
    font-size: 30px;
    text-align: left;
    text-decoration: none;
    margin: 3px 1px;
    cursor: pointer;
}
.fa:hover {
    opacity: 0.7;
    text-decoration: none;
    color: #d0d5d9;
}

.fa-facebook {
    color: #ffffff;
}
.fa-twitter {
    color: #ffffff;
}
.fa-youtube {
    color: #ffffff;
}
.fa-instagram {
    color: #ffffff;
}
.fa-google {
    color: #ffffff;
}
p.copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
    padding: 20px;
    margin: 2px;
}

/*-------------------index2.html forms------------
.form {
    background-color: #6f9abf;
    display: inline-block;
    margin-top: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 5px;
    border-color: #000;
    text-align: center;
    align-content: center;
}
-------*/
label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.label-normal {
    font-weight: normal;
}

.pattern {
    color: #808080;
    font-size: 0.8em;
    font-weight: normal;
}

.supports-color .color,
.supports-date .date,
.supports-time .time,
.supports-month .mont {
    display: none;
}

input,
select {
    display: inline-block;
    font-size: 1em;
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    width: 30%;
}

[type="checkbox"],
[type="radio"] {
    margin-bottom: 0.5em;
    width: auto;
}

.button {
    background-color: #0088cc;
    border: 1px solid #0088cc;
    border-radius: 1px;
    color: #ffffff;
    display: inline-block;
    font-size: 0.9375em;
    font-weight: normal;
    line-height: 1.2;
    margin-right: 0.3125em;
    margin-bottom: 0.3125em;
    padding: 0.5em 0.6875em;
    width: auto;
}

.button:active,
.button:focus,
.button:hover {
    background-color: #005580;
    border-color: #005580;
    color: #ffffff;
    text-decoration: none;
}

.button:active {
    box-shadow: inset 0 0.15625em 0.25em rgba(0, 0, 0, 0.15), 0 1px 0.15625em rgba(0, 0, 0, 0.05);
}
.container-fluid2 {
    height: 100vh;
    background: url("images/testimage02resize.jpg") no-repeat bottom right fixed;
    padding: 15px;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: inherit;
}
/*-------------------index3.html error page-------------------*/
.card {
    background-color: #5176a6;
    display: block;
    margin: 16px;
    padding: 8px;
    color: #fff;
}
.container-fluid3 {
    height: 100vh;
    background: url("images/testimage02resize.jpg") no-repeat bottom right fixed;
    padding: 15px;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    justify-content: center;
    position: inherit;
}

/*-----------------button--------------------*/
.btn {
    position: inherit;
    text-align: center;
    margin: 8px;
    padding: 5px;
    background-color: #5176a6;
    border-color: #fff;
    opacity: 0.85;
    text-decoration: none;
    cursor: pointer;
}
.btn a {
    color: #fff;
    text-decoration: none;
}
.btn:hover {
    background-color: #fff;
    border-color: #733646;
    opacity: 0.5;
    transition: ease-in-out 0.25s;
}
.btn a:hover {
    color: #733646;
    transition: ease-in-out 0.25s;
}

/*-----------------form--------------------*/
.form {
    background-color: #6f9abf;
    display: inline-block;
    margin-top: 100px;
    padding: 5px;
    border-radius: 10px;
    border: 5px;
    border-color: #fff;
    text-align: center;
    align-content: center;
}
.footer {
    display: flex;
    background-color: #5176a6;
    margin: 1px;
    color: #fff;
    width: 100%;
}

/*-------------------media breakpoint 40em-------------------*/
@media (max-width: 40em) {
.body, html {
    font-size: 12px;
}

.navbar {
    background-color: #5176a6;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;

}
.logo {
    background: url("images/cmlogodark02.PNG");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    min-height: 100px;
    width: 375px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/*-----------------nav menu--------------------*/
.nav-menu {
    background-color: #5176a6;
}
.nav-item {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
    padding: 1px;
}
.nav-item:hover {
    color: #1b2226;
    text-decoration: none;
    transition: ease-in-out 0.4s;

}
/*------------------- container-fluid------------------*/
.container-fluid {
    height: 50vh;
    background: url("images/testimage02resize.jpg") no-repeat bottom right fixed;
    padding: 15px;
    opacity: 0.75;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    position: inherit;
}

/*--------------cards-------------------------*/
.cards {
    display: inline;
    flex-wrap: wrap;
    justify-content: space-between;
} 
.card1{
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}
.card2 {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}
.card3 {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}
/*------------------container-header-------------------*/
.container-header {
    background-color: #5176a6;
    margin-top: 50px;
    padding: 8px;
    position: relative;
    text-align: center;
    align-content: center;
    color: #fff;
    opacity: 0.85;
}
}

/*------------------media breakpoint 60em--------------------*/
@media (max-width: 60em) {
.body, html {
    font-size: 12px;
}

.navbar {
    background-color: #5176a6;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;

}
.logo {
    background: url("images/cmlogonewdark03.PNG");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px;
    min-height: 100px;
    width: 375px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/*-----------------nav menu--------------------*/
.nav-menu {
    background-color: #5176a6;
}
.nav-item {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    margin-left: 10px;
    padding: 1px;
}
.nav-item:hover {
    color: #1b2226;
    text-decoration: none;
    transition: ease-in-out 0.4s;

}
/*------------------- container-fluid------------------*/
.container-fluid {
    height: 50vh;
    background: url("images/testimage02resize.jpg") no-repeat bottom right fixed;
    padding: 15px;
    opacity: 0.75;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    justify-content: center;
    position: inherit;
}

/*--------------cards-------------------------*/
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 
.card1{
    flex: 1 0 100px;
    box-sizing: border-box;
    margin: 1rem .25em;
}
.card2 {
    flex: 1 0 100px;
    box-sizing: border-box;
    margin: 1rem .25em;
}
.card3 {
    flex: 1 0 100px;
    box-sizing: border-box;
    margin: 1rem .25em;
}
/*------------------container-header-------------------*/
.container-header {
    background-color: #5176a6;
    margin-top: 50px;
    padding: 8px;
    position: relative;
    text-align: center;
    align-content: center;
    color: #fff;
    opacity: 0.85;
}
}


